.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  .wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .viewmore{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: gray;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    img{
      width: 15px;
      height: 15px;
    }
  }
}